:root {
    --white : #FBF5F3;
    --night : #000022;
    --grass : #59CD90;
    --day : #3FA7D6;
}

body {
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

main {
    display: grid;
    position: relative;
    grid-template-columns: 350px 1fr;
    margin: 40px;
}

aside {
    background-color: rgba(255, 255, 255, 0.555);
    backdrop-filter: blur(10px);
    border: 1px solid black;
    border-radius: 25px;
}

aside {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

aside img {
    width: 84px;
}

div, h1 {
    margin: 0;
}

h1 {
    text-align: center;
    padding-top: 10px;
}

#searchbar {
    padding: 6px;
}

#search {
    margin-left: -5px;
    height: 30px;
    width: fit-content;
}

#weather-forecast {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

#weather-forecast div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.555);
    backdrop-filter: blur(10px);
    border: 1px solid black;
    border-radius: 20px;
    height: 150px;
}

#weather-forecast img {
    width: 48px;
}

#description, #location #temperature {
    text-align: center;
    max-width: 300px;

}

footer {
    color: var(--white);
    position: absolute;
    bottom: 15px;
}